.custom-dropdown-menu {
    background-color: var(--color-bg-sidebar);
    border-color: var(--color-border-hr) !important;
    font-size: .875rem;
}

.custom-dropdown-menu .dropdown-item {
    color: var(--color-text-primary);
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: var(--color-hover-secondary);
    color: var(--color-text-primary);
}

.custom-dropdown-menu .dropdown-item.active {
    background-color: var(--color-chip-more-bg) !important;
    color: var(--color-chip-more-text) !important;
}

.custom-pagination-btn {
    color: var(--color-hover-primary) !important;
    background-color: var(--color-bg-primary) !important;
}

.custom-pagination-btn:hover {
    background-color: var(--color-hover-secondary) !important;
}

.custom-dropdown-header-footer {
    background-color: var(--color-bg-primary) !important;
    border-color: var(--color-border-hr) !important;
}